<mat-card>

  <mat-toolbar color="primary">Detalhes livro</mat-toolbar>
  <mat-card-content [class]="currentRoute == 'view' ? 'disabled' : ''">
    <form [formGroup]="form" class="min-width">
        <mat-checkbox [class]="currentRoute == 'edit' ? 'disabled' : ''" class="full-width" formControlName="rented" >Alugado</mat-checkbox>

      <mat-form-field class="half-width">
        <mat-label>Título</mat-label>
        <input matInput placeholder="Título" formControlName="title" #title>
        <mat-hint align="end">{{title.value.length}}/200</mat-hint>
        @if (form.get('title')?.invalid) {
        <mat-error>{{getErrorMessage("title")}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="half-width">
        <mat-label>Autor</mat-label>
        <input matInput placeholder="Autor" formControlName="author" #author>
        <mat-hint align="end">{{author.value.length}}/200</mat-hint>
        @if (form.get('author')?.invalid) {
        <mat-error>{{getErrorMessage("author")}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="half-width">
        <mat-label>Editora</mat-label>
        <input matInput placeholder="Editora" formControlName="publisher" #publisher>
        <mat-hint align="end">{{publisher.value.length}}/200</mat-hint>
        @if (form.get('publisher')?.invalid) {
        <mat-error>{{getErrorMessage("publisher")}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="half-width">
        <mat-label>ISBN</mat-label>
        <input matInput type="number" placeholder="ISBN" formControlName="isbn" #isbn maxlength="13">
        <mat-hint align="end">{{isbn.value.length}}/13</mat-hint>
        <mat-error *ngIf="form.get('isbn')?.invalid">{{ getErrorMessageIsbn()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="half-width">
        <mat-label>Ano de publicação</mat-label>
        <input matInput type="number" maxlength="4" placeholder="Ano de publicação" formControlName="publicationYear"
          #publicationYear>
        @if (form.get('publicationYear')?.invalid) {
        <mat-error>{{getErrorMessage("publicationYear")}}</mat-error>
        }
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="action-button-form" >
    <button [class]="currentRoute == 'view' ? 'notRendered' : 'rendered'" class="button-form" mat-raised-button (click)="onCancel()">Cancelar</button>
    <button [class]="currentRoute == 'view' ? 'notRendered' : 'rendered'"  class="button-form" mat-raised-button [style.background]="'#4CAF50'" (click)="onSubmit()" cdkFocusInitial>Salvar</button>
    <button [class]="currentRoute == 'view' ? 'rendered' : 'notRendered'" class="button-form" mat-raised-button (click)="onCancel()" cdkFocusInitial>Voltar</button>
  </mat-card-actions>
</mat-card>
