<mat-card class="table-card">
  <mat-toolbar color="primary"> Livros </mat-toolbar>

  <mat-table  [dataSource]="books$" class="column-flex mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Título </mat-header-cell>
      <mat-cell *matCellDef="let book"> {{ book.title }} </mat-cell>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef> Autor </mat-header-cell>
      <mat-cell *matCellDef="let book"> {{ book.author }} </mat-cell>
    </ng-container>

    <!-- Publisher Column -->
    <ng-container matColumnDef="publisher">
      <mat-header-cell *matHeaderCellDef> Editora </mat-header-cell>
      <mat-cell *matCellDef="let book"> {{ book.publisher }} </mat-cell>
    </ng-container>

    <!-- Rented Column -->
    <ng-container matColumnDef="rented">
      <mat-header-cell *matHeaderCellDef class="align-column-center"> Alugado </mat-header-cell>
      <mat-cell *matCellDef="let book" class="align-column-center">
        <mat-icon *ngIf="book.rented; else rentedIconFalse" matTooltip="Alugado">done_outline</mat-icon>
        <ng-template #rentedIconFalse>
          <mat-icon matTooltip="Não Alugado">close</mat-icon>
        </ng-template>
      </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="action-header">
        <button mat-mini-fab color="accent" aria-label="Adicionar Livro" (click)="onAdd()" matTooltip="Adicionar Livro">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let book" class="action-column align-column-center">
        <button mat-icon-button [style.color]="'#FF9800'" aria-label="Devolver Livro" matTooltip="Devolver Livro" (click)="onReturn(book)"
          *ngIf="book.rented; else rentedFalse">
          <mat-icon>undo</mat-icon>
        </button>

        <ng-template #rentedFalse>
          <button mat-icon-button [style.color]="'#536DFE'" aria-label="Alugar Livro" matTooltip="Alugar Livro" (click)="onRent(book)">
            <mat-icon>done_all</mat-icon>
          </button>
        </ng-template>

        <button mat-icon-button [style.color]="'#4CAF50'" aria-label="Visualizar Livro" matTooltip="Visualizar Livro" (click)="onView(book)">
          <mat-icon>visibility</mat-icon>
        </button>

        <button mat-icon-button color="primary" aria-label="Editar Livro" matTooltip="Editar Livro" (click)="onEdit(book)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" aria-label="Excluir Livro" matTooltip="Excluir Livro" (click)="onDelete(book)">
          <mat-icon>delete</mat-icon>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>
